html {
	height: 100%;

	// font-size: 15px;
	// @include media-breakpoint-up(sm) {
	// 	font-size: 16px;
	// }
}

body {
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex: 1;
    flex-direction: column;

	height: auto;
	min-height: 100%;

	
}






main {
	display: flex;
	flex: 1;
    flex-direction: column;

	height: auto;
	min-height: 100%;
    

	padding-top: 80px;
	margin-bottom: 20px;

	@include media-breakpoint-up(md) {
		padding-top: 90px;
		padding-bottom: 100px;
	}

	

	
	// border-bottom: 8px solid $color-sos;
}






section {
	@extend .container-xxl;
}



.progress {
	height: 8px;
}

.fillscreen {
	// background: yellow;
	flex: 1;
	display: flex;	
	flex-direction: column;

	&__bottom {
		// background: red;
		// @extend .mb-3;

		@include media-breakpoint-down(md) {
			display: flex;
			align-content: flex-end;
			flex: 1;
		}
	}
}




.bi {
	vertical-align: -0.2em;
}




.btn {
	min-width: 5em;
}


// .row {
// 	--bs-gutter-x: 3rem;
// }
// main {
// 	display: block;
// 	// position: absolute;
// 	background: white;

// 	padding-top: 80px;
// }


// .container {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
// }



.btn-primary {
	background: $color-primary;
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// .slidein,
// .fadein {
// 	visibility: hidden;
// }



img {
	@extend .d-block;
	width: 100%;
	height: auto;
}




.section {
	@include container;
}







// .nav-item {
// 	.nav-link {
// 		&.active {
// 			@extend .fw-bold, .text-secondary;
		
// 		}
// 	}
	
// }









.test {outline: 1px solid red;}