.col-logo {
	// background: red;
	max-width: 180px;
}

footer {
	border-bottom: 7px solid $color-sos;
	font-size: 1em;
	

	.poweredby {
		font-size: 0.85em;
		margin-bottom: 0.25em;

		@include media-breakpoint-up(md) {
			font-size: 0.9em;
		}
	}
}