// Force variable in Bootstrap
body {
	.btn-primary {
		background: rgba(var(--bs-primary-rgb), 1);
		border-color: rgba(var(--bs-primary-rgb), 1);

		&:hover {
			background: rgba(var(--bs-primary-rgb), .8);
			border-color: rgba(var(--bs-primary-rgb), .8);
		}

		&:focus {
			box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .4);
			background: rgba(var(--bs-primary-rgb), .8);
			border-color: rgba(var(--bs-primary-rgb), .8);
		}

		&:active {
			box-shadow: 0 0 0 0 rgba(var(--bs-primary-rgb), .4);
			border-color: rgba(var(--bs-primary-rgb), .8);
			background: rgba(var(--bs-primary-rgb), .8);

			&:focus {
				box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .4);
			}
		}
	}


	
}


.form-control,
.form-select {
	&:focus {
		border-color: rgba(var(--bs-primary-rgb), 1);
		box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .25);
	
	}
}




.progress-bar {
	background: rgba(var(--bs-primary-rgb), 1);
}



.btn-light {
	border: 1px solid rgba($color-black, 15/100);
}


a {
    color: rgba(var(--bs-primary-rgb), 1);
    
	&:hover {
		color: rgba(var(--bs-primary-rgb), 1);
	}
}


.form-check-input {

	&:focus {
		border-color: rgba(var(--bs-primary-rgb), 1);
		box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 25/100);
	}

	&:checked {
		background-color: rgba(var(--bs-primary-rgb), 1);
    	border-color: rgba(var(--bs-primary-rgb), 1);
	}
    
}