// --------------------------------------------------
// Webfont
// --------------------------------------------------

@font-face {
    font-family: 'Helvetica Text';
    src: url('./../fonts/HelveticaNowText.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Text';
    src: url('./../fonts/HelveticaNowText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Effra';
    src: url('./../fonts/Effra.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('./../fonts/Effra-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}