/*===================================================================
	Base grid
===================================================================*/

$color-white: 		#ffffff;
$color-black: 		#000000;

$color-lightgrey:	#f6f6f6;
$color-darkgrey: 	#202020;
$color-background: 	#f2f2f2;


// Fonts
// $font-effra: "Effra";
// $font-helvetica: "Helvetica Text";


// Client brand colors
$color-sos: #f50a37;
$color-topdanmark: #131947;
$color-gfforsikring: #00ad56;


// Assign values
$color-primary: $color-sos;
// $font: $font-effra;






/*===================================================================
	Fonts
===================================================================*/
// $font-display: 'Helvetica Text', Helvetica, Arial, sans-serif;
// $font-text: 'Helvetica Text', Helvetica, Arial, sans-serif;





/*===================================================================
	Reset & functions
===================================================================*/
@import "common/reset";
@import "common/functions";
@import "common/mixins";




/*===================================================================
	Bootstrap
===================================================================*/
@import "include/variables";
@import "~bootstrap/scss/bootstrap";



@import "include/base";
@import "include/header";
@import "include/footer";
@import "include/transition";
@import "include/webfont";
@import "include/force-primary-color"; // Overrules with CSS variable




/*===================================================================
	Debug (tag out at production)    
===================================================================*/
// @import "common/bootstrap-indicator";